<div [ngSwitch]="viewType">

  <div class="div-login" *ngSwitchCase="'login'">
    <h1>Log In Form</h1>
    <mat-form-field class="input-data">
      <mat-label>E-Mail</mat-label>
      <input matInput type="text" [(ngModel)]="email">
      <button *ngIf="email != ''" matSuffix mat-icon-button aria-label="Clear" (click)="onClearEmail()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="input-data">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmitLogin()">Log In</button>
    <p (click)="onRegisterClick()" class="p-change-view">Create an account?</p>
  </div>

  <div class="div-register" *ngSwitchCase="'register'">

    <h1>Register Form</h1>

    <mat-form-field class="input-data">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username">
      <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>E-Mail</mat-label>
      <input matInput type="text" [(ngModel)]="email">
      <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordRegister">
      <button *ngIf="passwordRegister" matSuffix mat-icon-button aria-label="Clear" (click)="passwordRegister=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordRegisterConfirm">
      <button *ngIf="passwordRegisterConfirm" matSuffix mat-icon-button aria-label="Clear" (click)="passwordRegisterConfirm=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <p (click)="onLoginClick()" class="p-change-view">Already have an account?</p>
    <button (click)="onSubmitRegister()" mat-raised-button color="primary">Register</button>
  </div>

</div>

