.input-data {
  width: 400px;
}

.div-login {
  display: grid;
  width: 400px;
  margin: 200px auto auto;
}

.div-register {
  display: grid;
  width: 400px;
  margin: 200px auto auto;
}

.p-change-view{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

