.card-movie{
  width: 300px;
  background-color: beige;
  elevation: higher;
  margin-bottom: 16px;
  padding: 16px;
}

.p-text{
  font-family: "Comic Sans MS";
  font-size: 14px;
}

.p-title{
  font-weight: bold;
  color: cornflowerblue;
  text-transform: uppercase;
}

.div-page{
  display: flex;
}

.div-content{
  margin: auto;
  display: inline-flex;
  margin-top: 50px;
}
